.controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.charts {
  display: flex;
  flex-wrap: wrap;
}

.chart {
  padding: 1.5rem;
  border: 1px solid var(--table-border);
}

.charts > .chart {
  position: relative;
  width: 100%;
  min-height: 300px;
  max-width: 50%;
}

.chart > div {
  height: 300px;
}

@media (min-width: 1200px) {
  .charts > .chart {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

td.info {
  color: var(--info-bg);
}

td.warn {
  color: var(--warning-bg);
}

td.error {
  color: var(--error-bg);
}


.summary {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}

.statistic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--box);
  border: 1px solid var(--box-border);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 175px;
  height: 100px;
}

.statistic-box > .title {
  align-self: start;
  font-weight: bold;
  font-size: 0.75rem;
}

.statistic-box > .value {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.table-container {
  flex-grow: 1;
}

.table-container:has(#recent-logs) {
  flex-basis: 100%;
}

.anime-relations {
  border: 1px solid var(--box-border);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 300px;
  background: var(--box);
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.anime-relations-date {
  font-weight: bold;
}

.anime-relations-date > span {
  font-weight: normal;
}

#update-anime-relations {
  align-self: end;
  margin-top: 0.5rem;
}
