h1 {
  border-bottom: 1px solid var(--dividers);
}

.audit-log-entry {
  border: 2px solid var(--box-border);
  border-radius: 5px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

#audit-log-entries {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.audit-log-entry > summary {
  list-style: none;
  display: flex;
  background-color: var(--box-shade);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 5px;
}

.audit-log-entry > summary::marker,
.audit-log-entry > summary::-webkit-details-marker {
  display: none;
}

.audit-log-entry[open]:not(.empty) > summary {
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid var(--box-border);
}

.audit-log-entry.empty > summary {
  cursor: default;
}

.audit-log-entry > summary::after {
  content: '\25B6';
  transition: 0.2s;
}

.audit-log-entry[open] > summary::after {
  transform: rotate(90deg);
}

.audit-log-entry.empty > summary::after {
  display: none;
}

.description {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

#load-more {
  appearance: none;
  border: 2px solid var(--box-border);
  background-color: var(--box-shade);
  color: var(--foreground);
  border-radius: 5px;
  height: 4rem;
  width: 100%;
  cursor: pointer;
}

#load-more:hover:not(:disabled) {
  background-color: var(--box-border);
  opacity: 0.9;
}

#load-more:disabled {
  cursor: default;
  opacity: 0.7;
}


li.file.failed {
  list-style-type: '\274c\fe0f';
  padding-inline-start: 1ch;
}

li.file.success {
  list-style-type: '\2705\fe0f';
  padding-inline-start: 1ch;
}

.fallback, .before, .after {
  font-weight: bold;
}

.reason {
  padding-left: 2rem;
  margin-top: 1rem;
  display: inline-block;
}

.reason:only-child {
  margin-bottom: 1rem;
}
