.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.login-container > .alert {
  width: 20rem;
}

.login-header {
  padding: 0.75rem;
  border: 1px solid var(--box-border);
  background-color: var(--box);
  width: 20rem;
  text-align: center;
  border-bottom: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 1px solid var(--box-border);
  background-color: var(--box);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  width: 20rem;
}

#login-form > .form-field:last-child {
  margin-top: 0.5rem;
}

.account-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-bottom: 1px solid var(--dividers);
  margin-bottom: 1rem;
}

.account-info > .badges {
  margin-left: auto;
}

.password-container {
  display: flex;
  align-items: center;
}

.password-container > input {
  width: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.password-container > .password-icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: var(--form-input-background);
  border: 2px solid var(--form-input-border);
  border-left: none;
}

.password-container > input:focus {
  border-right: none;
}

.password-container > input:focus + .password-icon {
  border: 2px solid var(--form-input-focus-border);
  border-left: none;
}

.password-container > .password-icon:hover > img {
  opacity: 0.7;
}

.password-container > input:not(:placeholder-shown):invalid {
  border-right: none;
}

.password-container > input:not(:placeholder-shown):invalid ~ .password-icon {
  border: 2px solid var(--form-input-error-border);
  border-left: none;
}

#register {
  order: 1;
}

#authenticate {
  order: 2;
}

.session {
  display: flex;
  align-items: center;
}

.session > .info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.session > .info > .created {
  font-size: 0.8rem;
}

.session > .invalidate {
  height: 2rem;
}

#session-section, #api-section {
  margin: 1rem 0;
}

.session ~ h4 {
  margin-top: 0.5rem;
}

.sessions {
  margin-bottom: 0.5rem;
}

.sessions > .session {
  border-bottom: 2px solid var(--table-border);
  padding: 0.25rem 0rem;
}

.sessions > .session:last-of-type {
  border-bottom: none;
}

.sessions > .session:hover {
  background-color: var(--table-background-hover);
}

#api-key {
  width: fit-content;
  border: 1px solid var(--box-border);
  padding: 0.5rem;
  background: var(--box);
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
