
.sidebar.grid-item {
  grid-area: s;
}

.sidebar {
  margin-right: 1rem;
}

.sidebar > h3 {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--dividers);
}

.sidebar ul {
  margin: 0;
  padding-left: 1.5rem;
}

.sidebar a {
  color: var(--nav-link);
}

.sidebar a:hover {
  border-bottom-color: var(--nav-link-hover);
  color: var(--nav-link-hover);
}

.grid {
  grid-template-areas:
    "h"
    "s"
    "c"
    "f"
  ;
}

@media (min-width: 840px) {
  .grid {
    grid-template-areas:
      "h h h"
      "c c s"
      "c c s"
      "f f f"
    ;
  }
  .sidebar {
    top: 0.75rem;
    height: fit-content;
    position: sticky;
  }
}
