{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/auth.css" type="text/css" />
<link rel="stylesheet" href="/static/entry.css" type="text/css" />
{% endblock %}

{% block title %}
My Account · Jimaku
{% endblock %}

{% block body_end %}
<script src="/static/auth.js"></script>
<script src="/static/files.js"></script>
{% endblock %}

{% block body %}
{% let account = account.as_ref().unwrap() %}
<div class="account-info">
  <h2 class="account-name">{{ user.name }}</h2>
  <div class="badges">
    {% if user.flags.is_admin() -%}
    <span class="badge branding" title="User is an administrator">Admin</span>
    {% endif -%}
    {% if user.flags.is_editor() -%}
    <span class="badge info" title="User is an editor">Editor</span>
    {% endif -%}
    {% if user.flags.is_restricted() -%}
    <span class="badge danger" title="User is restricted from uploading">Restricted</span>
    {% endif -%}
    {% if account.flags.is_editor() -%}
    <a class="icon-button" href="/logs?account_id={{ user.id }}">
      <img alt="History icon" src="/static/history.svg" width="24px" height="24px">
    </a>
    {% endif -%}
  </div>
</div>
<nav class="tabs" role="tablist" aria-orientation="horizontal">
  <div class="tab" tabindex="-1" role="tab" aria-selected="true" data-link="account-settings-section">Account Settings</div>
  {% if own_page || account.flags.is_admin() %}
  <div class="tab" tabindex="-1" role="tab" aria-selected="false" data-link="bookmarks-section">Bookmarks</div>
  {% endif %}
  {% if own_page %}
  <div class="tab" tabindex="-1" role="tab" aria-selected="false" data-link="session-section">Sessions</div>
  {% endif %}
  <div class="tab" tabindex="-1" role="tab" aria-selected="false" data-link="created-entries-section">Entries</div>
</nav>
<section tabindex="-1" role="tabpanel" class="tab-content active" id="account-settings-section">
<div class="commands">
  <div class="command-buttons left">
  {% if own_page %}
  <button class="button" id="change-password">Change Password</button>
  {% endif %}
  {% if account.flags.is_admin() %}
  <button class="button primary" data-editor="{{ user.flags.is_editor() }}"
          data-endpoint="/account/{{ user.id }}/edit" id="toggle-editor">Toggle Editor</button>
  {% endif %}
  {% if account.flags.is_admin() %}
  <button class="button primary" data-restricted="{{ user.flags.is_restricted() }}"
          data-endpoint="/account/{{ user.id }}/edit" id="toggle-restricted">Toggle Restricted</button>
  {% endif %}
  </div>
</div>
{% if own_page || account.flags.is_admin() %}
<form id="edit-anilist">
  <h3>AniList Integration</h3>
  <p>Save your <a href="https://anilist.co/">AniList</a> username to quickly access your AniList list.</p>
  <div class="form-container">
    <label for="anilist-username">AniList Username</label>
    <div class="combined-field">
      <input type="text" pattern="[a-zA-Z0-9]*" name="anilist-username" id="anilist-username" autocomplete="off" value="{{ user.anilist_username|maybe_display }}">
      <button data-endpoint="/account/{{ user.id }}/edit" id="submit-anilist" class="button primary">Save</button>
    </div>
  </div>
</form>
{% endif %}
{% if own_page %}
<form id="api-section">
  <h3>Developer Access</h3>
  <p>Please check the <a href="/api/docs">documentation</a> to learn how to use the API.</p>
  <div class="form-container">
  {% match api_key %}
  {% when Some with (api) %}
  <label for="api-key">API Key</label>
  <div class="form-field"><pre id="api-key">{{ api }}</pre></div>
  <div class="commands">
    <div class="command-buttons left">
      <button type="button" id="copy-api-key" class="button primary">Copy</button>
      <button type="submit" name="new" value="false" class="button danger">Regenerate</button>
    </div>
  </div>
  {% when None %}
  <p>In order to use the API, you must have an API token.</p>
  <div class="commands">
    <div class="command-buttons left">
      <button type="submit" name="new" value="true" class="button primary">Generate</button>
    </div>
  </div>
  {% endmatch %}
  </div>
</form>
{% endif %}
</section>
{% if own_page || account.flags.is_admin() %}
<section tabindex="-1" role="tabpanel" class="tab-content" id="bookmarks-section">
<h3>Bookmarked Entries</h3>
{% if bookmarks.is_empty() %}
<p>You have no bookmarked entries!</p>
{% else %}
<div class="files" data-columns="2">
  <div class="table-headers">
    <span class="table-header sorting-ascending" data-sort-by="name">Name</span>
    <span class="table-header">Bookmarked</span>
  </div>
  {% for entry in bookmarks %}
  <div class="entry" data-extra="{{ entry.data()|json }}">
    <a href="/entry/{{ entry.id }}" class="table-data file-name">{{ entry.name|e }}</a>
    <a class="table-data bookmark icon-button" data-cleanup="1" data-id="{{ entry.id }}" data-bookmarked="true">
      <img alt="Bookmarked icon" title="Remove this from your bookmarks" src="/static/bookmarked.svg" width="24px" height="24px">
    </a>
  </div>
  {% endfor %}
</div>
<button class="button danger outline" id="remove-all-bookmarks">Remove all bookmarks</button>
{% endif %}
{% endif %}
</section>
{% if current_session.is_some() || !sessions.is_empty() %}
<section tabindex="-1" role="tabpanel" class="tab-content" id="session-section">
<h3>Sessions</h3>
<p>
  These are all the sessions that are currently logged in with your account. You can log out of each one individually or revoke all of them.
</p>
<p>
  If you see an entry you don't recognize, log out that session and change your password immediately.
</p>
{% match current_session %}
{% when Some with (session) %}
<h4>Current Session</h4>
<div class="sessions">
<div class="session">
  <div class="info">
    <span class="description">{{ session.label() }}</span>
    <span class="created" title="{{ session.created_at|isoformat }}" data-timestamp="{{ session.created_at.unix_timestamp() }}">{{ session.created_at|isoformat }}</span>
  </div>
  <a class="invalidate button danger outline" href="/logout">Logout</a>
</div>
</div>
{% when None %}
{% endmatch %}
{% if !sessions.is_empty() %}
<h4>Other Sessions</h4>
<div class="sessions">
{% for session in sessions %}
<div class="session">
  <div class="info">
    <span class="description">{{ session.label() }}</span>
    <span class="created" title="{{ session.created_at|isoformat }}" data-timestamp="{{ session.created_at.unix_timestamp() }}">{{ session.created_at|isoformat }}</span>
  </div>
  <button class="invalidate button danger outline" data-token="{{ session.signed(key)|ref|maybe_display }}">Logout</button>
</div>
{% endfor %}
</div>
<a class="button danger outline" href="/logout/all">Logout All Sessions</a>
{% endif %}
</section>
{% endif %}
<section tabindex="-1" role="tabpanel" class="tab-content" id="created-entries-section">
{% if !entries.is_empty() %}
<h3>Created Entries</h3>
<div class="files" data-columns="2">
  <div class="table-headers">
    <span class="table-header sorting-ascending" data-sort-by="name">Name</span>
    <span class="table-header" data-sort-by="last-modified">Date</span>
  </div>
  {% for entry in entries %}
  <div class="entry" data-extra="{{ entry.data()|json }}">
    <a href="/entry/{{ entry.id }}" class="table-data file-name">{{ entry.name|e }}</a>
    <span class="table-data file-modified" title="{{ entry.last_updated_at|isoformat }}">{{ entry.last_updated_at|isoformat }}</span>
  </div>
  {% endfor %}
</div>
{% endif %}
</section>
<dialog id="change-password-modal">
  <form autocomplete="off" method="POST" action="/account/change_password">
    <h1>Change Password</h1>
    <div class="form-container">
      <label for="old-password">Current Password</label>
      <div class="password-container form-field">
        <input class="form-field" required placeholder=" " minlength="8" maxlength="128" name="old_password" id="old-password" type="password">
        <span class="password-icon"><img alt="Password visibility icon" src="/static/visibility.svg" width="24px" height="24px"/></span>
      </div>
      <label for="new-password">New Password</label>
      <div class="password-container form-field">
        <input class="form-field" required placeholder=" " minlength="8" maxlength="128" name="new_password" id="new-password" type="password">
        <span class="password-icon"><img alt="Password visibility icon" src="/static/visibility.svg" width="24px" height="24px"/></span>
      </div>
      <input type="hidden" id="session-description" name="session_description" value="">
    </div>
    <footer>
      <button id="confirm" class="button primary">Done</button>
      <button class="button" formmethod="dialog">Cancel</button>
    </footer>
  </form>
</dialog>
{% endblock %}
