{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/anilist.css" type="text/css" />
<link rel="stylesheet" href="/static/entry.css" type="text/css" />
<meta property="og:url" content="{{ crate::CONFIG.get().unwrap().canonical_url() }}/anilist/{{ user_name }}">
<meta property="og:title" content="{{ user_name }}'s AniList">
{% endblock %}

{% block title %}
{{ user_name }}'s AniList · Jimaku
{% endblock %}

{% block body %}
<h1>{{ user_name }}'s Anime List</h1>
<hr>
<svg id="loading" class="spinner" viewBox="0 0 50 50">
  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
</svg>
<div data-username="{{ user_name }}" id="anilist-entries" class="hidden">
</div>
<div class="center">
  <button class="hidden" id="load-more">Load more</button>
</div>
{% endblock %}

{% block body_end %}
<script>var entryId = null</script>
<script src="/static/entry.js"></script>
<script src="/static/files.js"></script>
<script type="module" src="/static/anilist.js"></script>
{% endblock %}
