<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation · Jimaku</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#c4a058">
    <meta property="og:site_name" content="Jimaku">
    <meta property="og:url" content='{{ "/api/docs"|canonical_url }}'>
    <meta property="og:title" content="Jimaku: API Documentation">
    <link rel="stylesheet" href="/static/api.css" type="text/css" />
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
    <script src="/static/api.js"></script>

    <script>
      /* This file is licensed under AGPL-3.0 */
      Scalar.createApiReference('#app', {
        url: '/api/openapi.json',
        darkMode: true,
        agent: {
          disabled: true
        },
        authentication: {
          preferredSecurityScheme: 'api_key',
          securitySchemes: {
            api_key: {
              name: 'Authorization',
              in: 'header',
              value: '{{ api_key }}'
            }
          }
        }
      })
    </script>
  </body>
</html>
