{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/help.css" type="text/css">
<meta property="og:url" content='{{ "/contact"|canonical_url }}'>
<meta property="og:title" content="Jimaku: Contact">
{% endblock %}

{% block title %}
Contact · Jimaku
{% endblock %}

{% block body %}
<div id="content">
  <h1 id="contact-us">Contact us</h1>
  <p>If you need help, want to report a bug or request a feature, please don't hesitate to contact us.</p>
  <p>
    <ul>
      <li><a href="mailto:support@jimaku.cc">Email Us</a>.</li>
      <li><a href="https://github.com/Rapptz/jimaku">GitHub</a>.</li>
      <li><a href="https://discord.gg/xtEBbH75ph">Discord</a>.
      </li>
    </ul>
  <p>
</div>
{% endblock %}
