{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/entry.css" type="text/css">
<meta property="og:url" content="{{ crate::CONFIG.get().unwrap().canonical_url() }}/entry/{{entry.id}}">
<meta property="og:title" content="{{ entry.name }}">
<meta property="og:description" content="{{ entry.description() }}">
<meta name="description" content="{{ entry.description() }}">
{% endblock %}

{% block title %}
{{ entry.name }} · Jimaku
{% endblock %}

{% block body %}
{%- for flash in flashes -%}
{{ flash.html()|safe }}
{%- endfor -%}
{%- let flags = account.flags() -%}
<script>const entryId = {{entry.id}};const entryData = {{entry.data()|json|safe}};</script>
<div class="entry-info">
  <h1 class="title">{{ entry.name }}</h1>
  {% match entry.anilist_id -%}
    {% when Some with (id) -%}
  <div class="external-links">
    <a href="https://anilist.co/anime/{{ id }}/" title="AniList page for this anime">
      <img src="https://anilist.co/img/icons/favicon-32x32.png" width="24px" height="24px" alt="AniList icon" />
    </a>
    {% match entry.tmdb_id %}
    {% when Some with (id) %}
    <a href="{{ id.url() }}" title="TMDB page for this series">
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" width="48px" height="24px" alt="TMDB icon" />
    </a>
    {% when None %}
    {% endmatch %}
  </div>
    {% when None -%}
      {% match entry.tmdb_id %}
      {% when Some with (id) %}
      <div class="external-links">
        <a href="{{ id.url() }}" title="TMDB page for this series">
          <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" width="48px" height="24px" alt="TMDB icon" />
        </a>
      </div>
      {% when None %}
      {% endmatch %}
  {% endmatch -%}
  <div class="badges">
    {% if entry.flags.is_adult() -%}
    <span class="badge danger" title="Entry is meant for adults">Adult</span>
    {% endif -%}
    {% if entry.flags.is_low_quality() -%}
    <span class="badge warning" title="Entry has quality issues">Low Quality</span>
    {% endif -%}
    {% if entry.flags.is_movie() -%}
    <span class="badge success" title="Entry is a movie">Movie</span>
    {% endif -%}
    {% if entry.flags.is_external() -%}
    <span class="badge info" title="Entry originated from Kitsunekko">Legacy</span>
    {% endif -%}
  </div>
</div>
<div id="relations"></div>
{% match entry.notes -%}
  {% when Some with (notes) -%}
<p class="notes">{{ notes|markdown }}</p>
  {% when None -%}
{% endmatch -%}
<hr>
<div class="commands">
  <div class="text-input-container">
    <input autocomplete="off" type="search" id="search-files" placeholder="Search files by name..." spellcheck="false">
    <button class="clear" tabindex="-1" id="clear-search-filter">✖&#xfe0e;</button>
  </div>
  <div class="command-buttons">
  {% match account %}
    {% when Some with (account) %}
    {% if account.flags.is_editor() -%}
    <button id="edit-entry" class="button">Edit</button>
    {% endif -%}
    <form id="upload-form" method="POST" action="/entry/{{ entry.id }}/upload" enctype="multipart/form-data">
      <label for="upload-file-input" id="upload-button" class="button upload primary">Upload</label>
      <input name="file" type="file" id="upload-file-input" accept=".srt,.ass,.ssa,.sub,.sup,.idx,.zip" hidden multiple>
    </form>
    {% when None %}
    <a class="button upload primary" href="/login">Login to upload</a>
  {% endmatch %}
  </div>
</div>
<div class="files" data-columns="4">
  <div class="table-headers">
    <span class="table-header"><input id="bulk-check" autocomplete="off" type="checkbox"></span>
    <span class="table-header sorting-ascending" data-sort-by="name">Name</span>
    <span class="table-header" data-sort-by="size">Size</span>
    <span class="table-header" data-sort-by="last-modified">Date</span>
  </div>
  {% for file in files -%}
  <div class="entry" data-extra="{{ file|json }}">
    <span class="table-data file-bulk"><input autocomplete="off" type="checkbox"></span>
    <a href="{{ file.url }}" class="table-data file-name">{{ file.name|e }}</a>
    <span class="table-data file-size">{{ file.size|filesizeformat}}</span>
    <span class="table-data file-modified" title="{{ file.last_modified|isoformat }}">{{ file.last_modified|isoformat }}</span>
  </div>
  {% endfor -%}
</div>
<div class="commands">
  <div class="command-buttons">
    {% if flags.is_admin() %}
    <button id="delete-files" class="button danger">Delete</button>
    {% endif %}
    {% if flags.is_editor() %}
    <button id="move-files" disabled class="button">Move</button>
    {% endif %}
    <button id="download-files" disabled class="button primary">Download</button>
  </div>
</div>

<div id="file-upload-drop-zone">
  <h1>Drop subtitles to upload</h1>
  <p>Supported file types: .srt, .ass, .zip, .sub, .sup, .idx</p>
</div>

{%- if flags.is_editor() %}
<dialog id="edit-entry-modal">
  <form autocomplete="off" method="POST" action="/entry/{{ entry.id }}/edit">
    <h1>Edit Entry</h1>
    <div class="form-container">
      <label for="entry-name">Name</label>
      <input class="form-field" required value="{{ entry.name }}" name="name"
             id="entry-name" autocomplete="off" type="text">
      <label for="entry-japanese-name">Japanese Name</label>
      <input class="form-field" value="{{ entry.japanese_name|maybe_display }}"
             name="japanese_name" id="entry-japanese-name" autocomplete="off" type="text">
      <label for="entry-english-name">English Name</label>
      <input class="form-field" value="{{ entry.english_name|maybe_display }}"
             name="english_name" id="entry-english-name" autocomplete="off" type="text">
      <label for="entry-anilist-id">AniList ID or URL</label>
      <input class="form-field" value="{{ entry.anilist_id|maybe_display }}"
             pattern="^(?:[0-9]*|(?:https:\/\/anilist\.co\/anime\/(\d+)(?:\/.*)?))$"
             name="anilist_id" id="entry-anilist-id" autocomplete="off" type="text">
      <label for="entry-tmdb-url">TMDB URL</label>
      <input class="form-field" value="{{ entry.tmdb_id|maybe_tmdb_url }}"
             pattern="https:\/\/(?:www\.)?themoviedb\.org\/(?:tv|movie)\/(\d+)(?:-[a-zA-Z0-9\-]+)?(\/.*)?"
             placeholder="https://www.themoviedb.org/tv/12345" name="tmdb_url" id="entry-tmdb-url"
             autocomplete="off" type="text">
      <div class="form-field checkboxes">
        <div class="checkbox-container">
          <input value="true" {%- if entry.flags.is_low_quality() -%}checked{% endif %}
                 name="low_quality" id="entry-low-quality" type="checkbox">
          <label for="entry-low-quality">Low Quality</label>
        </div>
        <div class="checkbox-container">
          <input value="true" {%- if entry.flags.is_movie() -%}checked{% endif %}
                 name="movie" id="entry-movie" type="checkbox">
          <label for="entry-movie">Movie</label>
        </div>
        <div class="checkbox-container">
          <input value="true" {%- if entry.flags.is_adult() -%}checked{% endif %}
                 name="adult" id="entry-adult" type="checkbox">
          <label for="entry-adult">Adult</label>
        </div>
        <div class="checkbox-container">
          <input value="true" {%- if entry.flags.is_anime() -%}checked{% endif %}
                 name="anime" id="entry-anime" type="checkbox">
          <label for="entry-anime">Anime</label>
        </div>
      </div>
      <label for="entry-notes">Notes</label>
      <textarea class="form-field" name="notes" id="entry-notes" autocomplete="off"
                placeholder="Series specific notes. Markdown supported." rows="10"
                maxlength="1024" spellcheck="true">{{ entry.notes|maybe_display }}</textarea>
    </div>
    <footer>
      <button class="button" value="cancel" formmethod="dialog">Cancel</button>
      <button id="update-info" type="button" class="button" value="sync">Sync</button>
      <button id="confirm-edit" class="button primary">Confirm</button>
    </footer>
  </form>
</dialog>

<dialog id="move-entries-modal">
  <form autocomplete="off">
    <h1>Move Entries</h1>
    <p>
      This operation moves the selected files to either a new or pre-existing folder.
      The entry is created either by the provided AniList URL, the TMDB URL, or the name,
      in that order. If an entry ID is given then that takes priority.
    </p>
    <p>
      If a TMDB URL is given, then it is moved to the Drama portion of the site.
    </p>
    <div class="form-container">
      <label for="anilist-url">AniList URL</label>
      <input class="form-field"
             pattern="https:\/\/anilist\.co\/anime\/(\d+)(?:\/.*)?"
             placeholder="https://anilist.co/anime/12345/" name="anilist_url" id="anilist-url"
             autocomplete="off" type="text">
      <label for="tmdb-url">TMDB URL</label>
      <input class="form-field"
             pattern="https:\/\/(?:www\.)?themoviedb\.org\/(?:tv|movie)\/(\d+)(?:-[a-zA-Z0-9\-]+)?(\/.*)?"
             placeholder="https://www.themoviedb.org/tv/12345" name="tmdb_url" id="tmdb-url"
             autocomplete="off" type="text">
      <label for="move-to-entry-id">Entry ID</label>
      <input class="form-field" pattern="[0-9]+" name="entry_id" id="move-to-entry-id" autocomplete="off" type="text">
      <label for="directory-name">Directory Name</label>
      <input class="form-field" name="name" id="directory-name" autocomplete="off" type="text">
    </div>
    <footer>
      <button class="button" formmethod="dialog">Cancel</button>
      <button id="confirm-move" class="button primary">Move</button>
    </footer>
  </form>
</dialog>
{%- endif -%}

{% if flags.is_admin() %}
<dialog id="confirm-delete-modal">
  <form>
    <h1>Are you sure?</h1>
    <p>This will delete <span id="delete-count"></span>.</p>
    <footer>
      <button class="button" formmethod="dialog">Cancel</button>
      <button id="confirm-delete" class="button danger">Delete</button>
    </footer>
  </form>
</dialog>
{% endif %}
{% endblock %}

{% block body_end %}
<script src="/static/fuzzysort.min.js"></script>
<script src="/static/files.js"></script>
<script src="/static/entry.js"></script>
{% endblock %}
