{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/entry.css" type="text/css">
<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="Jimaku: Japanese subtitles">
{% endblock %}

{% block index_nav %}
<a class="nav-item {% if anime %}active{% endif %}" href="/">Anime</a>
<a class="nav-item {% if !anime %}active{% endif %}" href="/dramas">Live Action</a>
{% endblock %}

{% block body %}
{% for flash in flashes %}
{{ flash.html()|safe }}
{% endfor %}
{%- let editor = account.flags().is_editor() -%}
{%- let placeholder -%}
{%- if anime -%}
{%- let placeholder = "Search files by name or AniList URL..." -%}
{%- else -%}
{%- let placeholder = "Search files by name or TMDB URL..." -%}
{%- endif -%}
<div class="commands">
  <form class="text-input-container" onsubmit="return false;">
    <input autocomplete="off" name="search" type="search" id="search-files" placeholder="{{ placeholder }}" spellcheck="false">
    <button type="button" class="clear" tabindex="-1" id="clear-search-filter">✖&#xfe0e;</button>
  </form>
  {% match account %}
    {% when Some with (account) %}
    {% if editor %}
    <button id="import-button" class="button import">Import ZIP</button>
    {% endif %}
    <button id="upload-button" data-type="directory" class="button upload primary">Create Folder</button>
    {% when None %}
    <a class="button upload primary" href="/login">Login to upload</a>
  {% endmatch %}
</div>
<div class="files" data-columns="2">
  <div class="table-headers">
    <span class="table-header sorting-ascending" data-sort-by="name">Name</span>
    <span class="table-header" data-sort-by="last-modified">Date</span>
  </div>

  {% for entry in entries.clone() %}
  <div class="entry" data-extra="{{ entry.data()|json }}">
    <a href="/entry/{{ entry.id }}" class="table-data file-name">{{ entry.name|e }}</a>
    <span class="table-data file-modified" title="{{ entry.last_updated_at|isoformat }}">{{ entry.last_updated_at|isoformat }}</span>
  </div>
  {% endfor %}
</div>

<dialog id="upload-modal">
  <form method="post" action="/entry/create" autocomplete="off">
    <h1>Create folder</h1>
    <div class="form-container">
      {%- if anime -%}
      <label for="anilist-url">AniList URL</label>
      <input class="form-field" {%- if !editor -%} required {%- endif -%}
             pattern="{{ crate::filters::ANILIST_PATTERN }}"
             placeholder="https://anilist.co/anime/12345/" name="anilist_url" id="anilist-url"
             autocomplete="off" type="text">
      {%- else -%}
      <label for="tmdb-url">TMDB URL</label>
      <input class="form-field" {%- if !editor -%} required {%- endif -%}
             pattern="{{ crate::filters::TMDB_PATTERN }}"
             placeholder="https://www.themoviedb.org/tv/12345" name="tmdb_url" id="tmdb-url"
             autocomplete="off" type="text">
      {%- endif -%}
      {% if editor %}
      <label for="directory-name">Directory Name</label>
      <input class="form-field" name="name" id="directory-name" autocomplete="off" type="text">
      {% endif %}
      <input type="hidden" name="anime" value="{{ anime }}">
    </div>
    <footer>
      <button id="confirm-upload" class="button primary">Create</button>
      <button class="button" formmethod="dialog">Cancel</button>
    </footer>
  </form>
</dialog>
{% if editor %}
<dialog id="import-modal">
  <form method="post" action="/entry/import" autocomplete="off">
    <h1>Import ZIP</h1>
    <p>
      ZIP files allow you to instantly create an entry from the files within the ZIP file.
      The ZIP file name should be the name of the series.
    </p>
    <p>
      Note that this ZIP file is extracted client side.
      You can either provide a URL to a ZIP file or upload a ZIP file yourself.
    </p>
    <p>
      The uploaded ZIP file takes priority over the URL.
    </p>
    <div class="form-container">
      <label for="import-url">ZIP URL</label>
      <input class="form-field" autocomplete="off" id="import-url" type="text">
      <label for="import-file">ZIP File</label>
      <input class="form-field" autocomplete="off" type="file" id="import-file" accept="application/zip">
      <input type="hidden" name="anime" value="{{ anime }}">
      <input type="hidden" id="import-name" name="name">
    </div>
    <footer>
      <button id="confirm-import" class="button primary">Next</button>
      <button class="button" formmethod="dialog">Cancel</button>
    </footer>
  </form>
</dialog>

<div id="file-upload-drop-zone">
  <h1>Drop ZIP to import</h1>
</div>
{% endif %}
{% endblock %}

{% block body_end %}
<script src="/static/fuzzysort.min.js"></script>
{% if editor %}
<script src="/static/zip.min.js"></script>
{% endif %}
<script src="/static/files.js"></script>
<script src="/static/index.js"></script>
{% if editor %}
<script src="/static/index_import.js"></script>
{% endif %}
{% endblock %}
