<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jimaku{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#c4a058">
    <meta property="og:site_name" content="Jimaku">
    <link rel="stylesheet" href="/static/base.css" type="text/css" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="grid">
      <header class="grid-item">
        {% block navigation %}
        <nav class="main-navigation">
          <a class="nav-item branding" href="/">Jimaku</a>
          <div class="nav-item mobile-only">
            <input id="hamburger-toggle" type="checkbox" aria-label="Open menu" />
            <label class="hamburger-menu" aria-hidden="true" for="hamburger-toggle"><span></span></label>
          </div>
          <div class="hamburger-menu-container">
            <a class="nav-item" href="/">Anime</a>
            <a class="nav-item" href="/dramas">Live Action</a>
            <span class="not-mobile nav-item spacer"></span>
          {% match account %}
            {% when Some with (account) %}
            <a class="nav-item account" href="/account">{{ account.name }}</a>
            {% when None %}
            <a class="nav-item account" href="/login">Login</a>
          {% endmatch %}
            <hr class="mobile-only">
            <a class="nav-item with-icon" href="/help">
              <svg class="not-mobile" height="24" viewBox="0 -960 960 960" width="24" role="img">
                <path fill="#e0e0e0" d="M478-240q21 0 35.5-14.5T528-290q0-21-14.5-35.5T478-340q-21 0-35.5 14.5T428-290q0 21 14.5 35.5T478-240Zm-36-154h74q0-33 7.5-52t42.5-52q26-26 41-49.5t15-56.5q0-56-41-86t-97-30q-57 0-92.5 30T342-618l66 26q5-18 22.5-39t53.5-21q32 0 48 17.5t16 38.5q0 20-12 37.5T506-526q-44 39-54 59t-10 73Zm38 314q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
              </svg>
              <span class="mobile-only">Help</span>
            </a>
            <a class="nav-item with-icon" id="settings">
              <svg class="not-mobile" height="24" viewBox="0 -960 960 960" width="24" role="img">
                <path fill="#e0e0e0" d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/>
              </svg>
              <span class="mobile-only">Settings</span>
            </a>
          </div>
        </nav>
        {% endblock %}
      </header>
      {% block sidebar %}{% endblock %}
      <main class="grid-item">
        {% block body %}{% endblock %}
        <dialog id="settings-modal">
          <form>
            <h1>Settings</h1>
            <div class="form-container">
              <label for="preferred-name">Preferred Name Display</label>
              <select class="form-field" id="preferred-name">
                <option value="native">Japanese (進撃の巨人)</option>
                <option value="english">English (Attack on Titan)</option>
                <option value="romaji">Romaji (Shingeki no Kyojin)</option>
              </select>
            </div>
            <footer>
              <button class="button" formmethod="dialog">Close</button>
            </footer>
          </form>
        </dialog>
      </main>
      <footer class="grid-item">
        <div class="links">
          <a href="/api/docs">API</a>
          <a href="https://github.com/Rapptz/jimaku">GitHub</a>
          <a href="https://discord.gg/xtEBbH75ph">Discord</a>
        </div>
        {% block footer %}{% endblock %}
      </footer>
    </div>
    <script src="/static/base.js"></script>
    {% block body_end %}
    {% endblock %}
  </body>
</html>
