{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/report.css" type="text/css" />
{% endblock %}

{% block title %}
Reports · Jimaku
{% endblock %}

{% block body %}
<h1 id="report-header">Reports</h1>
<svg id="loading-report-spinner" class="spinner" viewBox="0 0 50 50">
  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
</svg>
<div id="reports-container" class="hidden">
</div>
<div class="center">
  <button class="hidden" id="load-more-reports">Load more</button>
</div>

<dialog id="resolve-report-modal">
  <form autocomplete="off">
    <h1>Resolve Report</h1>
    <p>This will send a notification to the user with the response text.</p>
    <div class="form-container">
      <label for="report-response">Response</label>
      <input class="form-field" id="report-response" required maxlength="512" autocomplete="off" type="text">
      <label for="report-status">Status</label>
      <select class="form-field" id="report-status" required>
        <option value="1">Rejected</option>
        <option value="2">Solved</option>
      </select>
    </div>
    <footer>
      <button id="confirm-resolve-report" class="button primary" type="button">Submit</button>
      <button class="button" formmethod="dialog" type="button">Cancel</button>
    </footer>
  </form>
</dialog>
{% endblock %}

{% block body_end %}
<script src="/static/report.js"></script>
{% endblock %}
